input[type=text], input[type=email],input[type=password], input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 }
 input[type=submit] {
    
    margin-left: 25px;
    
    background-color: #3e226d;
    color: white;
    padding: 14px 20px;
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }
 input[type=submit]:hover {
    background-color: #122713;
 }
 input:focus {
    border: 1px solid #a09aaa;
 }
 #Form div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
 }
 #Form span {
    color: rgb(159, 37, 37);
 }
 #Form{
    width: 600px;
 }